# Name: VoxelMatrix IO
# Author: Javier Arpon (javier.arpon@gmail.com), INRA IJPB Modelisation Group
# Version: 1.0.1

Plugins>VoxelMatrix, "Open .vm", inra.ijpb.voxelmatrix.VoxelMatrix_Reader
Plugins>VoxelMatrix, "Save as .vm", inra.ijpb.voxelmatrix.VoxelMatrix_Writer
Plugins>VoxelMatrix, "Converter", inra.ijpb.voxelmatrix.VoxelMatrix_Converter
Plugins>VoxelMatrix, "Batch Opener", inra.ijpb.voxelmatrix.VoxelMatrix_Batch_Reader
Plugins>VoxelMatrix, "Batch Converter", inra.ijpb.voxelmatrix.VoxelMatrix_Batch_Converter
Plugins>VoxelMatrix, "Segmentation Checker", inra.ijpb.voxelmatrix.Segmentation_Checker
#Plugins>VoxelMatrix, "Mask Checker", VoxelMatrix_Segmentation_Checker