# Name: VoxelMatrix IO
# Author: Javier Arpon (javier.arpon@gmail.com), INRA IJPB Modelisation Group
# Version: 1.0.0

Plugins>VoxelMatrix, "VoxelMatrix Batch Converter", VoxelMatrix_Batch_Converter
Plugins>VoxelMatrix, "VoxelMatrix Batch Opener", VoxelMatrix_Batch_Reader
Plugins>VoxelMatrix, "VoxelMatrix CC's Checker", VoxelMatrix_Chromocenters_Checker
Plugins>VoxelMatrix, "VoxelMatrix Checker", VoxelMatrix_Segmentation_Checker
Plugins>VoxelMatrix, "VoxelMatrix Converter", VoxelMatrix_Converter
Plugins>VoxelMatrix, "VoxelMatrix Save...", VoxelMatrix_Writer
Plugins>VoxelMatrix, "VoxelMatrix Opener", VoxelMatrix_Reader