# Name: VoxelMatrix IO
# Author: Javier Arpon (javier.arpon@gmail.com), INRA IJPB Modelisation Group
# Version: 1.0.1

Plugins>VoxelMatrix, "Open...", VoxelMatrix_Reader
Plugins>VoxelMatrix, "Save...", VoxelMatrix_Writer
Plugins>VoxelMatrix, "Converter", VoxelMatrix_Converter
Plugins>VoxelMatrix, "Batch Opener", VoxelMatrix_Batch_Reader
Plugins>VoxelMatrix, "Batch Converter", VoxelMatrix_Batch_Converter
Plugins>VoxelMatrix, "Segmentation Checker", VoxelMatrix_Chromocenters_Checker
#Plugins>VoxelMatrix, "Mask Checker", VoxelMatrix_Segmentation_Checker